 .logout-header {
    -webkit-backdrop-filter: blur(54px) brightness(100%);
    backdrop-filter: blur(54px) brightness(100%);
    background-color: #ffffffcc;
    display: flex;
    justify-content: flex-end;

  }
  
   .frame-48 {
    margin-top: 20px;
    align-items: flex-end;
    display: inline-flex;
    justify-content: space-around;
  }
  .frame-47{
    padding: 10px;
  }
  .frame-49{
    padding-left: 10px;
    padding-right: 10px;
  }
  .frame-50{
    margin-left: 10px;
    padding-bottom: px ;
  }

  .font-type-monasans{
    font-family: "Mona-Sans-Medium", Helvetica;
  }

  .text-color-1{
    color: #343f52;

  }

  .font-type-quicksand{
    font-family: "Quicksand", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 36px;

  }
  .font-type-quicksand-small{
    font-family: "Quicksand", Helvetica;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 36px;

  }
  
   .text-wrapper-47 {

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
   .frame-48 {
    /* align-items: flex-start;
    display: inline-flex; */
    /* gap: 24px;
    left: 1071px;
    position: absolute;
    top: 26px; */
  }

  .header_color{
    -webkit-backdrop-filter: blur(54px) brightness(100%);
    backdrop-filter: blur(54px) brightness(100%);
    background-color: #ffffffcc;

  }
  .login_border{
    border: 1px solid;
    border-color: #60697b33;
  }

  .signup_color{
    background: linear-gradient(
      180deg,
      rgb(121.69, 118.07, 223.12) 0%,
      rgb(81.81, 130.56, 255) 100%
    );
  }



   .frame-49 {
    align-items: flex-start;
    
    border-radius: 40px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 10px 42px;
    position: relative;
  }
  
   .frame-50 {
    align-items: center;
    background: linear-gradient(
      180deg,
      rgb(121.69, 118.07, 223.12) 0%,
      rgb(81.81, 130.56, 255) 100%
    );
    border-radius: 50px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    margin-bottom: -1px;
    margin-right: -1px;
    margin-top: -1px;
    overflow: hidden;
    padding: 10px 42px;
    position: relative;
  }
  
   .frame-51 {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    left: 75px;
    position: absolute;
    top: 28px;
  }
  
   .group-6 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64941b1b7b1311a96e83e640/releases/64d53bb23acc02a59b7cfa6b/img/union-2.svg);
    background-size: 100% 100%;
    height: 39.01px;
    position: relative;
    width: 42px;
  }
  
   .overlap-group-10 {
    background-color: #ffffff;
    border-radius: 5.97px;
    height: 22px;
    left: 4px;
    position: absolute;
    top: 11px;
    width: 28px;
  }
  
   .ellipse-4 {
    background-color: #ffffff;
    border-radius: 1.45px/1.47px;
    height: 3px;
    left: 35px;
    position: absolute;
    top: 16px;
    width: 3px;
  }
  
   .ellipse-5 {
    background-color: #ffffff;
    border-radius: 1.45px/1.47px;
    height: 3px;
    left: 35px;
    position: absolute;
    top: 20px;
    width: 3px;
  }
  
   .ellipse-6 {
    background-color: #ffffff;
    border-radius: 1.45px/1.47px;
    height: 3px;
    left: 35px;
    position: absolute;
    top: 25px;
    width: 3px;
  }
  
   .text-wrapper-48 {
    color: #343f52;
    font-family: "Quicksand", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 36px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }