.home {
  background-color: #fcfcfd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #fcfcfd;
  border: 1px none;
  height: auto;
  position: relative;
  width: 1440px;
}

.home .frame {
  background-color: #f0f0f8;
  height: 720px;
  left: 0;
  position: absolute;
  top: 96px;
  width: 1440px;
}

.home .overlap {
  height: 720px;
  left: 26px;
  position: relative;
  width: 1414px;
}

.home .overlap-group {
  height: 720px;
  left: 639px;
  position: absolute;
  top: 0;
  width: 775px;
}

.home .rectangle {
  height: 720px;
  left: 55px;
  position: absolute;
  top: 0;
  width: 720px;
}

.home .vuesax-bulk-play {
  height: 110px;
  left: 0;
  position: absolute;
  top: 305px;
  width: 110px;
}

.home .overlap-2 {
  height: 558px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 664px;
}

.home .img {
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 59px;
}

.home .img-2 {
  height: 77px;
  left: 496px;
  position: absolute;
  top: 481px;
  width: 168px;
}

.home .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  left: 49px;
  position: absolute;
  top: 36px;
}

.home .group {
  height: 336px;
  position: relative;
  width: 542px;
}

.home .overlap-group-2 {
  height: 336px;
  left: -1px;
  position: relative;
  width: 539px;
}

.home .find-best-creatives {
  color: transparent;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 56px;
  font-weight: 500;
  left: 1px;
  letter-spacing: 0.16px;
  line-height: 84px;
  position: absolute;
  top: 0;
  width: 538px;
}

.home .text-wrapper {
  color: #343f52;
}

.home .span {
  color: #f0f0f8;
}

.home .text-wrapper-2 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #3f78e0;
  background: linear-gradient(
    180deg,
    rgb(96, 93, 186) 0%,
    rgb(40.55, 92.84, 226.31) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "IBM Plex Serif", Helvetica;
  font-size: 57px;
  font-style: italic;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.16px;
  line-height: 85.5px;
  position: absolute;
  text-fill-color: transparent;
  top: 163px;
  white-space: nowrap;
}

.home .p {
  color: #60697b;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 36px;
  position: relative;
  width: 549px;
}

.home .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.home .div-wrapper {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(121.69, 118.07, 223.12) 0%,
    rgb(81.81, 130.56, 255) 100%
  );
  border-radius: 50px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-top: -1px;
  overflow: hidden;
  padding: 14px 36px;
  position: relative;
}

.home .text-wrapper-3 {
  color: #ffffff;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .frame-4 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #3f78e0;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  margin-right: -1px;
  padding: 2px 0px;
  position: relative;
}

.home .text-wrapper-4 {
  color: #343f52;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .overlap-3 {
  height: 714px;
  left: 75px;
  position: absolute;
  top: 956px;
  width: 1341px;
}

.home .img-3 {
  height: 57px;
  left: 1282px;
  position: absolute;
  top: 164px;
  width: 59px;
}

.home .frame-5 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  left: 0;
  position: absolute;
  top: 0;
}

.home .frame-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.home .text-wrapper-5 {
  color: #60697b;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.home .overlap-group-wrapper {
  height: 132px;
  margin-right: -4px;
  position: relative;
  width: 684px;
}

.home .overlap-group-3 {
  height: 133px;
  position: relative;
  top: -1px;
  width: 680px;
}

.home .here-are-few-reasons {
  color: transparent;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 44px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.16px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 680px;
}

.home .text-wrapper-6 {
  color: #ffffff;
}

.home .text-wrapper-7 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #3f78e0;
  background: linear-gradient(
    180deg,
    rgb(96, 93, 186) 0%,
    rgb(40.55, 92.84, 226.31) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "IBM Plex Serif", Helvetica;
  font-size: 44px;
  font-style: italic;
  font-weight: 500;
  left: 311px;
  letter-spacing: 0.16px;
  line-height: 66px;
  position: absolute;
  text-fill-color: transparent;
  top: 0;
  white-space: nowrap;
}

.home .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
}

.home .frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  position: relative;
}

.home .frame-9 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 5px 35px #1e222812;
  height: 158px;
  overflow: hidden;
  position: relative;
  width: 398px;
}

.home .text-wrapper-8 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #3f78e0;
  background: linear-gradient(
    180deg,
    rgb(96, 93, 186) 0%,
    rgb(40.55, 92.84, 226.31) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 50px;
  font-weight: 500;
  left: 19px;
  letter-spacing: 0.16px;
  line-height: 75px;
  position: absolute;
  text-fill-color: transparent;
  top: 18px;
  white-space: nowrap;
}

.home .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  left: 91px;
  position: absolute;
  top: 36px;
}

.home .text-wrapper-9 {
  color: #343f52;
  font-family: "Mona-Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .text-wrapper-10 {
  color: #60697b;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 287px;
}

.home .frame-11 {
  border-radius: 8px;
  height: 158px;
  overflow: hidden;
  position: relative;
  width: 398px;
  z-index: 1;
}

.home .frame-12 {
  border-radius: 8px;
  height: 158px;
  overflow: hidden;
  position: relative;
  width: 398px;
  margin-top: -260px;
 margin-left: -270px;
}

.home .frame-13 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  left: 91px;
  position: absolute;
  top: 24px;
}

.home .rectangle-2 {
  height: 510px;
  position: relative;
  width: 860px;
}

.home .frame-14 {
  align-items: center;
  background-color: #f0f0f8;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  left: 0;
  padding: 140px 75px;
  position: absolute;
  top: 1810px;
}

.home .group-2 {
  height: 135px;
  margin-right: -4px;
  position: relative;
  width: 684px;
}

.home .overlap-group-4 {
  height: 136px;
  position: relative;
  top: -1px;
  width: 680px;
}

.home .here-are-few-clients {
  color: transparent;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 44px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.16px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 680px;
}

.home .text-wrapper-11 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #3f78e0;
  background: linear-gradient(
    180deg,
    rgb(96, 93, 186) 0%,
    rgb(40.55, 92.84, 226.31) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "IBM Plex Serif", Helvetica;
  font-size: 44px;
  font-style: italic;
  font-weight: 500;
  left: 305px;
  letter-spacing: 0.16px;
  line-height: 66px;
  position: absolute;
  text-fill-color: transparent;
  top: 0;
  white-space: nowrap;
}

.home .frame-15 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 48px 48px;
  position: relative;
  width: 1290px;
}

.home .frame-16 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 5px 35px #1e222812;
  height: 422px;
  overflow: hidden;
  position: relative;
  width: 398px;
}

.home .overlap-group-5 {
  height: 120px;
  left: 20px;
  position: absolute;
  top: 75px;
  width: 338px;
}

.home .img-4 {
  height: 47px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 54px;
}

.home .text-wrapper-12 {
  color: #60697b;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 318px;
}

.home .frame-17 {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 40px;
  position: absolute;
  top: 40px;
}

.home .star {
  height: 15.24px;
  position: relative;
  width: 15.92px;
}

.home .frame-18 {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  left: 40px;
  position: absolute;
  top: 312px;
}

.home .IMAGE {
  height: 70px;
  object-fit: cover;
  position: relative;
  width: 70px;
}

.home .frame-19 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.home .text-wrapper-13 {
  color: #343f52;
  font-family: "Mona-Sans-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.home .frame-21 {
  align-items: center;
  background-color: #f0f0f8;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  left: 0;
  padding: 140px 75px;
  position: absolute;
  top: 2674px;
}

.home .group-3 {
  height: 132px;
  margin-right: -4px;
  position: relative;
  width: 864px;
}

.home .overlap-group-6 {
  height: 132px;
  position: relative;
  width: 860px;
}

.home .we-offer-great {
  color: #343f52;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 44px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.16px;
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 860px;
}

.home .text-wrapper-15 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #3f78e0;
  background: linear-gradient(
    180deg,
    rgb(96, 93, 186) 0%,
    rgb(40.55, 92.84, 226.31) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "IBM Plex Serif", Helvetica;
  font-size: 44px;
  font-style: italic;
  font-weight: 500;
  left: 137px;
  letter-spacing: 0.16px;
  line-height: 66px;
  position: absolute;
  text-fill-color: transparent;
  top: 62px;
  white-space: nowrap;
}

.home .frame-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.home .frame-22 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 48px;
  position: relative;
}

.home .frame-23 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 5px 35px #1e222812;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 28px;
  overflow: hidden;
  padding: 40px;
  position: relative;
}

.home .frame-24 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.home .frame-25 {
  align-items: baseline;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 2px;
  position: relative;
}

.home .text-wrapper-16 {
  color: #343f52;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 16px;
  position: relative;
  width: 12px;
}

.home .text-wrapper-17 {
  color: #343f52;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 0.16px;
  line-height: 69px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 48px;
}

.home .text-wrapper-18 {
  color: #343f52;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .text-wrapper-19 {
  color: #343f52;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.16px;
  line-height: 27px;
  margin-top: -4px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .frame-26 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.home .frame-27 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}
.home .magin-bottom-1 {
  margin-bottom: 65px;
}
.home .img-5 {
  height: 24px;
  position: relative;
  width: 24px;
}

.home .text-wrapper-20 {
  color: #60697b;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: 284px;
}

.home .div-2 {
  color: transparent;
  font-family: "Mona-Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: 284px;
}

.home .text-wrapper-21 {
  color: #343f52;
  font-weight: 600;
}

.home .text-wrapper-22 {
  color: #60697b;
  font-family: "Mona-Sans-Regular", Helvetica;
}

.home .frame-28 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  opacity: 0;
  position: relative;
}

.home .vuesax-bulk-tick {
  height: 24px;
  margin-left: -2980px;
  margin-top: -5010px;
  position: relative;
  width: 24px;
}

.home .vuesax-bulk-tick-2 {
  height: 24px;
  margin-left: -2980px;
  margin-top: -5046px;
  position: relative;
  width: 24px;
}

.home .frame-29 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.home .frame-30 {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(121.69, 118.07, 223.12) 0%,
    rgb(81.81, 130.56, 255) 100%
  );
  border-radius: 50px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  overflow: hidden;
  padding: 14px 36px;
  position: relative;
}

.home .text-wrapper-23 {
  color: #60697b;
  font-family: "Mona-Sans-RegularItalic", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .text-wrapper-24 {
  color: #343f52;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 0.16px;
  line-height: 69px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.home .text-wrapper-25 {
  color: #60697b;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .post-unlimited {
  color: transparent;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .text-wrapper-26 {
  color: #60697b;
}

.home .text-wrapper-27 {
  color: #343f52;
  font-family: "Mona-Sans-SemiBold", Helvetica;
  font-weight: 600;
}

.home .div-3 {
  color: transparent;
  font-family: "Mona-Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .frame-31 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 40px 40px;
  position: relative;
  width: 1290px;
}

.home .frame-32 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.home .frame-33 {
  background-color: #605dba;
  border-radius: 40px;
  height: 42px;
  position: relative;
  width: 42px;
}

.home .text-wrapper-28 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.home .frame-34 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.home .text-wrapper-29 {
  color: #343f52;
  font-family: "Mona-Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .text-wrapper-30 {
  color: #60697b;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  width: 528px;
}

.home .frame-35 {
  align-items: flex-start;
  display: flex;
  gap: 14px;
  left: 75px;
  position: absolute;
  top: 1800px;
  width: 1290px;
}

.home .frame-36 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.home .group-4 {
  height: 198px;
  margin-right: -4px;
  position: relative;
  width: 542px;
}

.home .overlap-group-7 {
  height: 198px;
  position: relative;
  width: 538px;
}

.home .the-service-we-offer {
  color: #343f52;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 44px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.16px;
  line-height: 66px;
  position: absolute;
  top: 0;
  width: 538px;
}

.home .text-wrapper-31 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #3f78e0;
  background: linear-gradient(
    180deg,
    rgb(96, 93, 186) 0%,
    rgb(40.55, 92.84, 226.31) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "IBM Plex Serif", Helvetica;
  font-size: 44px;
  font-style: italic;
  font-weight: 500;
  left: 208px;
  letter-spacing: 0.16px;
  line-height: 66px;
  position: absolute;
  text-fill-color: transparent;
  top: 61px;
  white-space: nowrap;
}

.home .text-wrapper-32 {
  color: #60697b;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  width: 433px;
}

.home .frame-37 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 684px;
  margin-right: -73px;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  width: 791px;
}

.home .frame-38 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 5px 35px #1e222812;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  overflow: hidden;
  padding: 40px;
  position: relative;
}

.home .IMAGE-2 {
  height: 60px;
  object-fit: cover;
  position: relative;
  width: 80px;
}

.home .text-wrapper-33 {
  color: #343f52;
  font-family: "Mona-Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  width: 445px;
}

.home .text-wrapper-34 {
  color: #60697b;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 445px;
}

.home .IMAGE-3 {
  height: 71px;
  object-fit: cover;
  position: relative;
  width: 80px;
}

.home .IMAGE-4 {
  height: 77px;
  object-fit: cover;
  position: relative;
  width: 80px;
}

.home .IMAGE-5 {
  height: 67px;
  object-fit: cover;
  position: relative;
  width: 80px;
}

.home .IMAGE-6 {
  height: 74px;
  object-fit: cover;
  position: relative;
  width: 80px;
}

.home .IMAGE-7 {
  height: 75px;
  object-fit: cover;
  position: relative;
  width: 80px;
}

.home .frame-39 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 240px;
  position: relative;
}

.home .text-wrapper-35 {
  color: #ffffff;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 44px;
  font-weight: 500;
  letter-spacing: 0.16px;
  line-height: 66px;
  margin-top: -1px;
  position: relative;
  width: 538px;
}

.home .request-a-demo-call {
  color: #ffffff;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  opacity: 0.6;
  position: relative;
  width: 538px;
}

.home .frame-40 {
  background-color: #ffffff08;
  border: 1px solid;
  border-color: #ffffff1a;
  border-radius: 58px;
  height: 54px;
  overflow: hidden;
  position: relative;
  width: 512px;
}

.home .frame-41 {
  height: 54px;
  left: 438px;
  position: absolute;
  top: 0;
  width: 74px;
}

.home .overlap-group-8 {
  background: linear-gradient(
    180deg,
    rgb(121.69, 118.07, 223.12) 0%,
    rgb(81.81, 130.56, 255) 100%
  );
  height: 56px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 76px;
}

.home .text-wrapper-36 {
  color: #ffffff;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.home .text-wrapper-37 {
  color: #ffffff;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: 22px;
  opacity: 0.4;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.home .line {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 1290px;
}

.home .frame-42 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 105px;
  position: relative;
}

.home .frame-43 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.home .group-5 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64941b1b7b1311a96e83e640/releases/64c5661df29788c65e4e3a24/img/union.svg);
  background-size: 100% 100%;
  height: 39.01px;
  position: relative;
  width: 42px;
}

.home .img-wrapper {
  background-color: #363f50;
  border-radius: 5.97px;
  height: 22px;
  left: 4px;
  position: absolute;
  top: 11px;
  width: 28px;
}

.home .img-6 {
  height: 14px;
  left: 7px;
  position: absolute;
  top: 4px;
  width: 13px;
}

.home .ellipse {
  background-color: #363f50;
  border-radius: 1.45px/1.47px;
  height: 3px;
  left: 35px;
  position: absolute;
  top: 16px;
  width: 3px;
}

.home .ellipse-2 {
  background-color: #363f50;
  border-radius: 1.45px/1.47px;
  height: 3px;
  left: 35px;
  position: absolute;
  top: 20px;
  width: 3px;
}

.home .ellipse-3 {
  background-color: #363f50;
  border-radius: 1.45px/1.47px;
  height: 3px;
  left: 35px;
  position: absolute;
  top: 25px;
  width: 3px;
}

.home .text-wrapper-38 {
  color: #ffffff;
  font-family: "Quicksand", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 36px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .text-wrapper-39 {
  color: #ffffff;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 430px;
}

.home .frame-44 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.homePage .footer {
  align-items: flex-start;
  background-color: #363f50;
  display: inline-flex;
  flex-direction: column;
  gap: 75px;
  left: 0;
  mix-blend-mode: normal;
  padding: 75px;
  position: absolute;
  top: 4182px;
}


.home .menu-footer {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
}

.home .text-wrapper-40 {
  color: #ffffff;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .frame-45 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  opacity: 0.6;
  position: relative;
}

.home .text-wrapper-41 {
  color: #ffffff;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  position: relative;
  width: 185px;
}

.home .text-wrapper-42 {
  color: #ffffff;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .text-wrapper-43 {
  color: #ffffff;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .text-wrapper-44 {
  color: #ffffff;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  opacity: 0.8;
  position: relative;
  width: 276px;
}

.home .frame-46 {
  background-color: #ffffff08;
  border: 1px solid;
  border-color: #ffffff1a;
  border-radius: 58px;
  height: 54px;
  overflow: hidden;
  position: relative;
  width: 276px;
}

.home .overlap-group-9 {
  background: linear-gradient(
    180deg,
    rgb(121.69, 118.07, 223.12) 0%,
    rgb(81.81, 130.56, 255) 100%
  );
  height: 56px;
  left: 201px;
  position: absolute;
  top: -1px;
  width: 76px;
}

.home .text-wrapper-45 {
  color: #ffffff;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.home .text-wrapper-46 {
  color: #ffffff;
  font-family: "Mona-Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: 22px;
  opacity: 0.4;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}


.outer-container{
  height: 100vh;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-family: "Mona-Sans-Medium", Helvetica;
  margin-top: 12vh;
}

.wrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-top: 1px solid #ccc;
}

.separator span {
  margin: 0 10px;
  color: #888888;
}

.btn-google {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.circular-button {
  border-radius: 50px;
  margin-bottom: 5px;
}
.text-center .new-user {
  margin-top: 1rem;
}
.joinNow {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
}

.forgot-password-link {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}


.back-link {
  display: block;
  text-align: center;
  margin-top: 10px; 
}



.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

/* Styles for the modal background (clickable to close the modal) */
.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Styles for the modal content (video player) */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Styles for the close button */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
  outline: none;
}

/* Styles for the "Open Video" button in the main application */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}
