.logout-header {
  -webkit-backdrop-filter: blur(54px) brightness(100%);
  backdrop-filter: blur(54px) brightness(100%);
  background-color: #ffffffcc;
  height: 96px;
  position: relative;
  width: 1440px;
}

.logout-header .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  gap: 40px;
  left: 869px;
  position: absolute;
  top: 36px;
}

.logout-header .text-wrapper-12 {
  color: #343f52;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.logout-header .frame-11 {
  align-items: flex-start;
  display: inline-flex;
  gap: 24px;
  left: 1071px;
  position: absolute;
  top: 26px;
}

.logout-header .frame-12 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #60697b33;
  border-radius: 40px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 10px 42px;
  position: relative;
}

.logout-header .frame-13 {
  align-items: center;
  background: linear-gradient(180deg, rgb(121.69, 118.07, 223.12) 0%, rgb(81.81, 130.56, 255) 100%);
  border-radius: 50px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  margin-bottom: -1px;
  margin-right: -1px;
  margin-top: -1px;
  overflow: hidden;
  padding: 10px 42px;
  position: relative;
}

.logout-header .text-wrapper-13 {
  color: #ffffff;
  font-family: "Mona-Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.logout-header .frame-14 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 75px;
  position: absolute;
  top: 28px;
}

.logout-header .group-2 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64941b1b7b1311a96e83e640/releases/64d53bb23acc02a59b7cfa6b/img/union-2.svg);
  background-size: 100% 100%;
  height: 39.01px;
  position: relative;
  width: 42px;
}

.logout-header .overlap-group-2 {
  background-color: #ffffff;
  border-radius: 5.97px;
  height: 22px;
  left: 4px;
  position: absolute;
  top: 11px;
  width: 28px;
}

.logout-header .img-2 {
  height: 14px;
  left: 7px;
  position: absolute;
  top: 4px;
  width: 13px;
}

.logout-header .ellipse-4 {
  background-color: #ffffff;
  border-radius: 1.45px/1.47px;
  height: 3px;
  left: 35px;
  position: absolute;
  top: 16px;
  width: 3px;
}

.logout-header .ellipse-5 {
  background-color: #ffffff;
  border-radius: 1.45px/1.47px;
  height: 3px;
  left: 35px;
  position: absolute;
  top: 20px;
  width: 3px;
}

.logout-header .ellipse-6 {
  background-color: #ffffff;
  border-radius: 1.45px/1.47px;
  height: 3px;
  left: 35px;
  position: absolute;
  top: 25px;
  width: 3px;
}

.logout-header .text-wrapper-14 {
  color: #343f52;
  font-family: "Quicksand", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 36px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
