 
  
   .frame-10 {
    background-color: #ffffff;
    border-radius: 8px;
    left: 350px;
    overflow: hidden;
    position: absolute;
    top: -150px;
    width: 861px;
   
  }
  
  .frame-11 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
    left: 16px;
    position: absolute;
    top: 16px;
  }
  
   .text-wrapper-13 {
    color: #343f52;
    font-family: "Mona-Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
   .text-wrapper-3 {
    color: #343f52;
    font-family: "Mona-Sans-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
   .text-wrapper-4 {
    color: #343f52;
    font-family: "Mona-Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
   .vuesax-linear-search {
    height: 48px;
    left: 797px;
    position: absolute;
    top: 16px;
    width: 48px;
  }
  
   .img-2 {
    height: 57px;
    left: 0;
    position: absolute;
    top: -185px;
    width: 650px;
  }
  
   .frame-12 {
    align-items: flex-start;
    display: inline-flex;
    gap: 16px;
    left: 283px;
    position: absolute;
    top: 264px;
  }
  
   .frame-13 {
    align-items: center;
    border: 1px solid;
    border-color: #60697b66;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    overflow: hidden;
    padding: 8px 12px;
    position: relative;
    top: -310px;

  }
  
  
   .vector {
    height: 5px;
    position: relative;
    width: 8px;
  }