 .navbar {
    align-items: flex-start;
    display: inline-flex;
    gap: 40px;
    left: 741px;
    position: absolute;
    top: 36px;
  }
   .text-wrapper-11 {
    color: #343f52;
    font-family: "Mona-Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
   .frame-30 {
    align-items: center;
    background: linear-gradient(180deg, rgb(121.69, 118.07, 223.12) 0%, rgb(81.81, 130.56, 255) 100%);
    border-radius: 50px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 10px 42px;
    position: relative;
  }
   .text-wrapper-12 {
    color: #ffffff;
    font-family: "Mona-Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -0.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
   .frame-31 {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    left: 75px;
    position: absolute;
    top: 28px;
  }
  
   .group-2 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/14fee2d83e15953598a18f47bcb63aab/img/union.svg);
    background-size: 100% 100%;
    height: 39.01px;
    position: relative;
    width: 42px;
  }
  
   .overlap-group-3 {
    background-color: #ffffff;
    border-radius: 5.97px;
    height: 22px;
    left: 4px;
    position: absolute;
    top: 11px;
    width: 28px;
  }
  
   .img-3 {
    height: 14px;
    left: 7px;
    position: absolute;
    top: 4px;
    width: 13px;
  }
  
   .ellipse-4 {
    background-color: #ffffff;
    border-radius: 1.45px/1.47px;
    height: 3px;
    left: 35px;
    position: absolute;
    top: 16px;
    width: 3px;
  }
  
   .ellipse-5 {
    background-color: #ffffff;
    border-radius: 1.45px/1.47px;
    height: 3px;
    left: 35px;
    position: absolute;
    top: 20px;
    width: 3px;
  }
  
 .ellipse-6 {
    background-color: #ffffff;
    border-radius: 1.45px/1.47px;
    height: 3px;
    left: 35px;
    position: absolute;
    top: 25px;
    width: 3px;
  }
  
   .text-wrapper-13 {
    color: #343f52;
    font-family: "Quicksand", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 36px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination span {
    font-size: 16px;
    margin: 0 10px;
  }
  
  .pagination .active {
    background-color: #0056b3;
  }
  .pagination .disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  /* Updated styles for LogInHeader */
 .login-header {
  background-color: #ffffffcc;
  height: 96px;
  position: fixed;
  top: 0;
  width: 100%; /* Full width */
  z-index: 100; /* Higher z-index to appear on top */
}




 .login-header .frame-wrapper {
  align-items: flex-start;
  display: inline-flex;
  gap: 24px;
  left: 1232px;
  position: absolute;
  top: 26px;
}