.search {
  background-color: #fcfcfd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.search .div-2 {
  background-color: #fcfcfd;
  border: 1px none;
  height: 2139px;
  position: relative;
  width: 1440px;
  margin-top:300px;
}

.search .footer-instance {
  left: 0 !important;
  mix-blend-mode: normal !important;

}




