.search {
  background-color: #fcfcfd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.search .div-2 {
  background-color: #fcfcfd;
  border: 1px none;
  height: 2139px;
  position: relative;
  width: 1440px;
  margin-top:300px;
}

.search .footer-instance {
  left: 0 !important;
  mix-blend-mode: normal !important;

}

/* Updated styles for LogInHeader */
.search .login-header {
  background-color: #ffffffcc;
  height: 96px;
  position: fixed;
  top: 0;
  width: 100%; /* Full width */
  z-index: 100; /* Higher z-index to appear on top */
}




.search .frame-wrapper {
  align-items: flex-start;
  display: inline-flex;
  gap: 24px;
  left: 1232px;
  position: absolute;
  top: 26px;
}


