 .login-header {
    -webkit-backdrop-filter: blur(54px) brightness(100%);
    backdrop-filter: blur(54px) brightness(100%);
    background-color: #ffffffcc;
    height: 96px;
    position: fixed;
    width: 1440px;
  }
  
   .navbar {
    align-items: flex-start;
    display: inline-flex;
    gap: 40px;
    left: 741px;
    position: absolute;
    /* top: 36px; */
  }
  
   .text-wrapper-21 {
    color: #343f52;
    font-family: "Mona-Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
   .frame-wrapper {
    align-items: flex-start;
    display: inline-flex;
    gap: 24px;
    left: 1232px;
    position: absolute;
    top: 26px;
  }
  
   .frame-34 {
    align-items: center;
    background: #FCFCFD;
    border-radius: 50px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    overflow: hidden;
    padding: 10px 42px;
    position: relative;
  }
  
   .text-wrapper-22 {
    color: #ffffff;
    font-family: "Mona-Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -0.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
   .frame-35 {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    left: 75px;
    position: absolute;
    top: 28px;
  }
  
   .group-2 {
    background-image: url(https://generation-sessions.s3.amazonaws.com/fa410cc97d94ff5959bf0f2225e1da45/img/union.svg);
    background-size: 100% 100%;
    height: 39.01px;
    position: relative;
    width: 42px;
  }
  
   .overlap-group-3 {
    background-color: #ffffff;
    border-radius: 5.97px;
    height: 22px;
    left: 4px;
    position: absolute;
    top: 11px;
    width: 28px;
  }
  
   .img-3 {
    height: 14px;
    left: 7px;
    position: absolute;
    top: 4px;
    width: 13px;
  }
  
   .ellipse-4 {
    background-color: #ffffff;
    border-radius: 1.45px/1.47px;
    height: 3px;
    left: 35px;
    position: absolute;
    top: 16px;
    width: 3px;
  }
  
   .ellipse-5 {
    background-color: #ffffff;
    border-radius: 1.45px/1.47px;
    height: 3px;
    left: 35px;
    position: absolute;
    top: 20px;
    width: 3px;
  }
  
   .ellipse-6 {
    background-color: #ffffff;
    border-radius: 1.45px/1.47px;
    height: 3px;
    left: 35px;
    position: absolute;
    top: 25px;
    width: 3px;
  }
  
   .text-wrapper-23 {
    color: #343f52;
    font-family: "Quicksand", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 36px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  